section {
    padding-block: 2rem;

    h2 {
        margin-bottom: 1rem;
    }
}

button, a {
    display: flex;
    align-items: center;
    gap: 1rem;

    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    width: fit-content;

    text-decoration: none;
}

button:hover, a:hover {
    border-color: #646cff;
    color: #646cff;
}

button:focus,
button:focus-visible,
a:focus,
a:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    a:hover {
        color: #747bff;
    }
    button, a {
        background-color: #f9f9f9;
        color: #1a1a1a;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    label {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        width: 100%;
    }
}

.c-type {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.c-ui {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 1rem;
    width: 100%;

    margin-bottom: 1rem;

    p {
        margin: 0;
    }
}

.c-section {
    border: 1px solid #747bff;
    border-radius: 1rem;
    height: fit-content;

    h2 {
        margin-left: 2rem;
    }
}

.c-component {
    margin-left: 25px;
    margin-bottom: 0;

}

.c-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}